/* :root{
  --tono1: #104f7c;
  --tono2: #286585;
  --tono3: #527f90;
  --tono4: #7c989d;
  --tono5: #a0acab;
  --tono6: #ffffff;
  --tono7: #ff0000;
} */
/* html {
  scroll-behavior: smooth;
} */
/* *{
  padding: 0px;
  max-width: 1400px;
  box-sizing: border-box;
  margin: auto;
  border-radius: 10px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  width: 100%;
  height: 200vh;
}

/*inicia seccion 1*/
.section-header {
  width: 100%;
  height: 10em;
  background: linear-gradient(90deg, #ff5500, #221d1a);
  padding-top: 1.5em;
}

.header {
  background-color: #606164;
  width: 100%;
  /* margin: auto; */
  height: 3.5em;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.img {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.img img {
  object-fit: cover;
  height: 90%;
}

.menu a {
  display: flex;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 2em 1em;
}

.menu a:hover {
  background-color: #ff5500;
}

/*finaliza seccion1*/

/* Inicia seccion 2 Bienvenidos */
.section-bienvenidos{
  width: 100%;
  height: calc(100vh - 20em);
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  padding: 1em;
}
.texto-bienvenidos {
  width: 100%;
  height: auto;
}
.titulo-bienvenidos{
  width: 100%;
  height: auto;
  font-size: 2em;
  text-align: center;
  color: black;
}

.texto-bienvenidos hr{
  width: 24em;
  height: 0.25em;
  background: black;
  border: none;
  border-radius: 1em;
  margin: 0.5em auto;
}

.articulo-bienvenidos{
  width: 90%;
  height: 100%;
  gap: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.articulo-bienvenidos hr{
  width: 24em;
  height: 0.25em;
  border: none;
  border-radius: 1em;
  margin: 0.5em auto;
}

.info-bienvenidos{
  font-size: 1.5em;
  width: 50%;
}

/* .bienvenidos-img{
  width:40%;
} 
.info-bienvenidos{
  width: 50%;
  overflow: hidden;
}  */





/* Finaliza seccion 2 Bienvenidos*/









/* Inicio seccion 2 - TOP 3 */

.section-2 {
  width: 100%;
  height: calc(100vh - 20em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.s2-textos {
  width: 90%;
  height: 25%;
}

.titulo {
  font-size: 1.5em;
  text-align: center;
  color: #454245;
}

.s2-img {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: row;
}


.s2-textos hr {
  width: 3em;
  height: 0.25em;
  background: #ff5500;
  border: none;
  border-radius: 1em;
  margin: 0.5em auto;
}

.s2-textos p {
  font-size: 1.25em;
  text-align: center;
  overflow: hidden;
}

.s2-contenido {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em;
}

.contenido-img {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.contenido-img img {
  object-fit: cover;
  width: 100%;
}

.contenido-texto {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 0;
}

.contenido-texto h3 {
  font-size: 1.25em;
  color: #ff5500;
  text-align: center;
}

.contenido-texto p {
  font-size: 1.1em;
  color: #ff5500;
  margin: 1em 0;
  text-align: justify;
  overflow: hidden;
}

.contenido-texto a {
  text-decoration: none;
  color: #fff;
  background-color: #ff5500;
  width: 35%;
  padding: 0.5em 0;
  border: none;
  border-radius: 0.32em;
  text-align: center;
}

/* Finaliza seccion 2 - TOP 3 */

/* Inicia seccion 3 */
.section-3 {
  width: 100%;
  height: 10em;
  background: #221d1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-3 hr {
  background: linear-gradient(90deg, #b2b2b2, #221d1a);
  width: 100%;
  height: 5%;
  border: none;
}

.s3-contenido {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.s3-logo {
  width: 55%;
  display: flex;
  align-items: center;
}

.s3-logo img {
  object-fit: cover;
  height: 90%;
}

.s3-texto {
  width: 35%;
}

.s3-texto h3 {
  font-size: 1.1em;
  color: #fff;
  margin: 0.25em 0;
}

.s3-texto p {
  font-size: 0.9em;
  color: #fff;
}

.s3-texto a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 30%;
  border-top: #ff5500 solid 0.0725em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: #fff;
  padding: 0 10%;
}

.autor {
  color: #fff;
  text-decoration: none;
  margin: 0.25em;
}

.politicas {
  color: #fff;
  text-decoration: none;
  margin: 5em;
}



/* Finaliza seccion 3 */